<div style="width: 590px;">
    <div style="font-family: sans-serif; padding: 10px; overflow: hidden;">
        Gentile Cliente,
        <br>
        <br>
        le ricordiamo che per utilizzare le Equomobili elettriche di <b>Share'ngo</b> &egrave; necessario avere la maggiore et&agrave; ed una patente di guida (A e/o B) valida e conseguita da almeno un anno.
        <br>
        La verifica della sua patente non &egrave; andata a buon fine ed il suo profilo risulta adesso <b>DISABILITATO</b>,
        <br>
        si affretti a modificare i dati e non perda l'occasione di &quot;scorrazzare&quot; per le vie della citt&agrave; in modo economico e soprattutto green.
        <br>
        Per farlo bastano solo <b>3</b> semplici passi:
        <ul>
            <li>Entri su <a href="https://www.sharengo.it">www.sharengo.it</a> ed effettui il login (con mail e password);</li>
            <li>Selezioni nel men&ugrave; a sinistra la sezione &quot;Patente&quot; e successivamente &quot;Modifica&quot;;</li>
            <li>Dopo aver inserito i nuovi dati confermi cliccando su &quot;Salva dati&quot;.</li>
        </ul>
        Ed ora non resta che salire a bordo delle nostre <i>Equomobili</i> e mettersi alla guida!
        <br>
        <br>
        Buone corse con <b>Share'ngo!</b>
    </div>
</div>