<div style="width: 650px;">
    <img src="cid:bannerphono.jpg" style="width: 650px;">

    <div style="font-family: sans-serif; padding: 10px;">
        <h1 style="text-align:center;">Benvenuto in Share'ngo!</h1>
        Ciao %1$s,
        <br>
        <br>
        Benvenuto in Share'ngo, il car sharing elettrico attivo a Milano, Roma e Firenze.
        <br>
        Ecco qualche indicazione per iniziare a guidare la tua prima Share'ngo: &egrave; tutto molto semplice e intuitivo.
        <br>
        <br>
        <ul>
            <li>
                <b>Prenotazione dell'auto</b>
                <ul>
                    <li>
                        Scarica App su <a href="https://itunes.apple.com/us/app/sharengo/id1041906999?mt=8">iOS</a> e
                            <a href="https://play.google.com/store/apps/details?id=sharengo.essei.com.sharengo&hl=it">Android</a>
                            oppure fai login su <a href="http://www.sharengo.it/">www.sharengo.it</a> con mail e password
                    </li>
                    <li>
                        <p>trova il PIN <a href="http://support.sharengo.it/dove-trovo-il-pin">(vedi come)</a>, che ti servir&agrave; per avviare una corsa</p>
                    </li>
                    <li>
                        <p>cerca su App o sul sito l'auto pi&ugrave; vicina a te e prenotala. La prenotazione dura 30 minuti (gratuiti) e tutte le auto prenotabili hanno almeno 20/25 km di autonomia</p>
                    </li>
                </ul>
            </li>
            <li>
                <b>Guida dell'auto</b>
                <ul>
                    <li>
                        apri l'auto con la App, sul sito o passando sul display la Share'ngo Card (che ti arriver&agrave; a breve gratis a casa) quando sei in prossimit&agrave; dell'auto che hai prenotato
                    </li>
                    <li>
                        quando sei dentro, inserisci il PIN sul computer di bordo e segui le istruzioni
                    </li>
                    <li>
                        accendi il quadro con la chiave (&egrave; sempre inserita) e aspetta la scritta "Ready". L'auto si avvia togliendo il freno a mano e usando i pulsanti sotto il computer: D=avanti, R=retro, N=folle. Per passare da D a R ricordati di passare da N (e viceversa)
                    </li>
                </ul>
            </li>
            <br>
            <li>
                <b>Parcheggio o termine noleggio</b>
                <ul>
                    <li>
                        premi la P sul computer di bordo per scegliere di terminare la corsa (all'interno dell'area di copertura) o mettere l'auto in sosta. Per riprendere la corsa dopo una sosta, clicca su "Riprendi il noleggio"
                    </li>
                </ul>
            </li>
        </ul>
        <br>
        Il consiglio &egrave;: prova a guidare oggi una delle nostre macchine, in 5 minuti le auto di Share'ngo non avranno pi&ugrave; segreti e il piacere della mobilit&agrave; silenziosa e a impatto zero ti avr&agrave; conquistato.
        <br>
        <br>
        Ricorda che andando in <a href="http://www.sharengo.it/login">Area Riservata</a>, troverai le informazioni sulle corse effettuate, sui pagamenti e sulle nostre offerte speciali: come quella di acquistare i Pacchetti Minuti, per correre con Share'ngo a 6 &euro; l'ora, la tariffa pi&ugrave; bassa al mondo. 
        <br>
        <br>
        <div style="clear: both; text-align: center; padding: 15px 20px;font-size: 20px;margin: 20px 150px; background-color: #43a34c;">
            <a href="http://mobile.sharengo.it" style="color: white; text-decoration: none; font-family: sans-serif; font-weight: bold;">Prenota la tua prima auto</a>
        </div>
        <br>
        <br>
        Per ogni dubbio, consulta le nostre <a href="http://support.sharengo.it/home">FAQ</a> o contatta il <a href="http://support.sharengo.it/come-contatto-il-servizio-clienti-di-share-ngo">Servizio Clienti</a>.
        <br>
        <br>
        Buon divertimento con Share'ngo!
        <br>
        <br>
        <div style="display: block;width: 100%;padding: 10px;background-color: #ddd;height: 120px;">
            <div style="float: left; overflow: hidden; width: 100px; max-height: 100px;padding: 10px;">
                <img src="cid:barbarabacci.jpg" style="width: 100px; height: 100px;">
            </div>
            <div style="width: 400px; float: right; height:  100px;padding: 10px;">
                <br>
                <b>Barbara Bacci</b>
                <br>
                Responsabile Servizio Clienti Share'ngo
            </div>
        </div>
        <br>
        <br>
        <p>Share'ngo | <a href="mailto:servizioclienti@sharengo.eu">servizioclienti@sharengo.eu</a> | 0586.1975772 | <a href="www.sharengo.it">www.sharengo.it</a></p>
        <br>
    </div>
    <div style="text-align:center;">
        Rimani aggiornato seguendoci sui social
        <br>
        <a href="https://www.facebook.com/ShareNGo.eu">
            <img src="cid:facebook.png" style="width: 40px; margin-top: 20px;">
        </a>
        <a href="https://twitter.com/share_n_go">
            <img src="cid:twitter.png" style="width: 40px; margin-top: 20px;">
        </a>
    </div>
</div>