<div style="width: 590px;">
    <img src="cid:banner.jpg" width="590px">

    <div style="font-family: sans-serif; padding: 10px; overflow: hidden;">
        Benvenuto nel mondo di <a href="%1$s">Share`ngo</a>, il car sharing elettrico dai costi accessibili a tutti, attivo a Milano, Roma e Firenze.
        <br>
        <br>
        Per completare la tua iscrizione bastano 5 minuti, la tua patente, il tuo codice fiscale e una carta di credito (anche prepagata). L'iscrizione, che costa 10 euro, comprende 30 minuti di guida, per iniziare a provare il piacere della guida elettrica.
        <br>
        <div style="clear: both; text-align: center; padding: 15px 20px; margin: 20px 30px; background-color: #ffff00;">
            <a href="%2$s" style="color: black; text-decoration: none; font-family: sans-serif; font-weight: bold;">Voglio completare la mia iscrizione</a>
        </div>
        Buon divertimento con Share`ngo!
        <div style="width: 370px; float: right;">
            <br>
            <br>
            Barbara Bacci
            <br>
            Responsabile Servizio Clienti Share'ngo
            <br>
            SHARE’NGO
        </div>
    </div>
</div>