<div style="width: 590px;">
    <img src="cid:bannerphono.jpg" width="590px">

    <div style="font-family: sans-serif; padding: 10px; overflow: hidden;">
        Ciao %1$s,
        <br>
        <br>
        Conferma la tua iscrizione a Share’nGo, il car sharing a impatto zero.
        <br>
        <div style="clear: both; text-align: center; padding: 15px 20px; margin: 20px 30px; background-color: #6699cc; color: white; border-color: #336699; border-width: 4px; border-style: solid; border-radius: 13px;">
            <a href="%3$s" style="color: white; text-decoration: none; font-family: sans-serif; font-weight: bold;">Sì, confermo la mia iscrizione a Share’nGo.</a>
        </div>
        L'iscrizione sarà attiva solo cliccando sul link di conferma sopra riportato.
        <br>
        Per qualsiasi dubbio, scrivi a <a href="mailto:%4$s">%4$s</a>.
        <br>
        <br>
        <br>
        ATTENZIONE:<br>
        Dopo la validazione della tua email potrai procedere con il pagamento e il completamento della tua iscrizione.
        <b>La tua abilitazione al servizio potrebbe richiedere da qualche minuto a una giornata per motivi indipendenti dalla nostra organizzazione</b>
        (pagamento dell’iscrizione sul portale CartaSì e validazione della patente da parte del Ministero dei Trasporti).<br>
        Grazie della tua comprensione: anche noi vogliamo che tu possa salire a bordo delle nostre macchine...prima possibile.
        <br>
        <br>
        <div style="float: left; overflow: hidden; width: 185px; max-height: 190px;">
            <img src="cid:barbarabacci.jpg" width="185px">
        </div>
        <div style="width: 370px; float: right;">
            <br>
            <br>
            Barbara Bacci
            <br>
            Community Manager
            <br>
            SHARE’NGO Milano
        </div>
    </div>
</div>