@font-face {
	font-family: 'Lato-Bold';
	src: url('../font/Lato-Bold.eot');
	src: url('../font/Lato-Bold.eot?#iefix') format('embedded-opentype'),
		url('../font/Lato-Bold.woff') format('woff'),
		url('../font/Lato-Bold.ttf')  format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Lato-Regular';
	src: url('../font/Lato-Regular.eot');
	src: url('../font/Lato-Regular.eot?#iefix') format('embedded-opentype'),
		url('../font/Lato-Regular.woff') format('woff'),
		url('../font/Lato-Regular.ttf')  format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Lato-Light';
	src: url('../font/Lato-Light.eot');
	src: url('../font/Lato-Light.eot?#iefix') format('embedded-opentype'),
		url('../font/Lato-Light.woff') format('woff'),
		url('../font/Lato-Light.ttf')  format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Lato-Heavy';
	src: url('../font/Lato-Heavy.eot');
	src: url('../font/Lato-Heavy.eot?#iefix') format('embedded-opentype'),
		url('../font/Lato-Heavy.woff') format('woff'),
		url('../font/Lato-Heavy.ttf')  format('truetype');
	font-weight: bold;
	font-style: normal;
}

html, body{
	font-size:100%;
	font-family: 'Lato-Regular';	
}

.lato-regular{
	font-family: 'Lato-Regular';
}

.lato-bold{
	font-family: 'Lato-Heavy';
}

.white{
	color:#ffffff;
}

.orange, .orange a, .orange a:hover, .orange a:active, .orange a:focus{
	color:#faaf43;
	font-family: 'Lato-Bold';
}

.blu, .blu a{
	color: #1c3462;
}

.blu a:hover, .blu a:active, .blu a:focus{
	color:#1c3462;
}

.bg-grey{
	background-color:#005426;
}

.bg-blue{
	background-color:#0e5ea9;
}

div.col-sm-12.bg-grey, div.col-sm-12 .col-sm-7 {
	padding-left:0;
}

.button{
	color: #1d2848;
	background-color:#faaf43;
	border:5px solid #fff;
	padding:15px 60px 15px;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
	font-size: 47px;
	font-family: 'Lato-Bold';
	line-height: 1;
	display: inline-block;	
}

a#submit:hover{
	color:#1d2848;
	text-decoration: none;
}

.desk-block{
	display:block;
}

.container-fluid{
		width: 100%;
	}

.col-md-8, .col-md-4{
	padding: 0px;
}

.logo_acea_conte{
	margin:20px 40px;
}


@media screen and (max-width:991px){
	
	.space{
		margin-top:30px;
		margin-bottom:30px;
	}

	.button{		
		padding:10px 50px 10px;
		font-size: 30px;		
	}


	.strong{
		font-size: 1.5rem;
   		line-height: 1.7rem;
	}

	.strong-big{
		font-size: 1.9rem;
    	line-height: 1;
	}

	#first-paragraph {
	    margin-top:48px;
	}	

	#paragraph1a{
		margin-bottom:30px;
	}


	.logo_acea_conte{
		width: 170px;
		margin:50px auto;
	}	
	

}



@media screen and (min-width: 992px){
	.space{
		margin-top:60px;
		margin-bottom:60px;
	}

	.button{		
		padding:10px 50px 10px;
		font-size: 30px;		
	}


	.strong{
		font-size: 1.4rem;
   		line-height: 1.6rem;
	}

	.strong-big{
		font-size: 1.75rem;
    	line-height: 1;
	}

	#first-paragraph {
	    margin-top:21px;
	}

	.logo_acea_conte{
		width: 140px;
		margin:20px 20px 0 auto;
	}	
}

@media screen and (min-width: 768px){
	.img-mobile{
		display:none;
	}
}
@media screen and (max-width: 767px){
	.img-desk{
		display:none;
	}
}

@media screen and (min-width:1200px){
	.space{
		margin-top:47px;
		margin-bottom:47px;
	}

	.button{		
		padding:10px 50px 10px;
		font-size: 47px;		
	}


	.strong{
		font-size: 1.8rem;
   		line-height: 2rem;
	}

	.strong-big{
		font-size: 2.1rem;
    	line-height: 1;
	}

	#first-paragraph {
	    margin-top:17px;
	}

	.logo_acea_conte{
		width: 145px;
		margin:20px 20px 0 auto;
	}


}

@media screen and (min-width:1400px){
	.space{
		margin-top:65px;
		margin-bottom:65px;
	}

	.strong{
		font-size: 2rem;
   		line-height: 2.2rem;
	}

	.strong-big{
		font-size: 2.4rem;
    	line-height: 1;
	}

	#first-paragraph {
	    margin-top:20px;
	}

	.logo_acea_conte{
		width: 170px;
		margin:25px 20px 0 auto;
	}


}


@media screen and (min-width:1600px){
	.space{
		margin-top:77px;
		margin-bottom:77px;
	}

	.strong{
		font-size: 2.2rem;
   		line-height: 2.6rem;
	}

	.strong-big{
		font-size: 2.8rem;
    	line-height: 1;
	}

	#first-paragraph {
	    margin-top:40px;
	}

	.logo_acea_conte{
		width: 180px;
		margin:15px 20px 0 auto;
	}

}


@media screen and (min-width:1800px){
	.space{
		margin-top:110px;
		margin-bottom:110px;
	}

	.strong{
		font-size: 2.3rem;
   		line-height: 2.7rem;
	}

	.strong-big{
		font-size: 3.15rem;
    	line-height: 1;
	}

	#first-paragraph {
	    margin-top:46px;
	}
	.logo_acea_conte{
		width: 180px;
		margin:35px 20px 0 auto;
	}

}
