<?php

return [
    'cartasi' => [
        'alias' => 'payment_3444168',
        'mac_key' => 'CsT830052L63QHNd1E351uh73272Q23h175650k9wU28T7EU1Hd6l156N5I2oBY6U7OW7kP34282C5965r8V0hpG72ojq5B58896G4Q6oXGc36a6z3Tn6J271B4N33p45C28369j7E025O2245GK7T5p1MNN5T25S05UJxCKH0TMc98fBQ66M2NxRDzrR66c7RG2K367D4xiV54X9kY592K5E3V1X1U01AO85P3n4z28eJIL13t8Ww3P28eg24y2',
        //'alias' => 'payment_62321191',
        //'mac_key' => '88QZ74z3wKUBmoWX2V462nO0737933Jj127h5o80',
        'first_payment_amount' => 1,
        'first_payment_url' => 'https://coll-ecommerce.keyclient.it/ecomm/ecomm/DispatcherServlet',
        'recurring_payment_url' => 'https://coll-ecommerce.keyclient.it/ecomm/ecomm/ServletS2S'
    ]
];
