@font-face {
	font-family: 'Lato-Bold';
	src: url('../font/Lato-Bold.eot');
	src: url('../font/Lato-Bold.eot?#iefix') format('embedded-opentype'),
		url('../font/Lato-Bold.woff') format('woff'),
		url('../font/Lato-Bold.ttf')  format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Lato-Regular';
	src: url('../font/Lato-Regular.eot');
	src: url('../font/Lato-Regular.eot?#iefix') format('embedded-opentype'),
		url('../font/Lato-Regular.woff') format('woff'),
		url('../font/Lato-Regular.ttf')  format('truetype');
	font-weight: bold;
	font-style: normal;
}

html, body{
	font-size:100%;
}

.lato-regular{
	font-family: 'Lato-Regular';
}

.lato-bold{
	font-family: 'Lato-Bold';
}

.black{
	color:#000;
}

.black a{
	color:#000;
}

.black a:hover, .black a:active, .black a:focus{
	color:#000;
}

.white{
	color:#ffffff;
}

.yellow{
	color:#ffed00;
}

.yellow a{
	color:#ffed00;
}

.yellow a:hover, .yellow a:active, .yellow a:focus{
	color:#ffed00;
}
.bg-grey{
	background-color:#234b7b;
}

.link-equo{
	font-size: 40px;
}
div.col-sm-12.bg-grey, div.col-sm-12 .col-sm-7 {
	padding-left:0;
}

button{
	color:#000;
	background-color:#ffed00;
	border:5px solid #fff;
	padding:3px 15px 2px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 10px;
	margin-bottom:15px;
}

button a{
	color:#000;
}
.desk-block{
	display:block;
}
.container-fluid{
		padding-left:0;
		padding-right:0;
	}

#intro{
	color: #000;
	font-size: 24px;
	position: relative;
	top:-20px;
}

#logo{
	width: 150px;
	height: 105px;
	background-image: url('../images/logo_elfo.png');
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top:-30px;
}

#first-paragraph{
	position: relative;
	top:10px;
}

#paragraph1{
	position: relative;
	top:-30px;
}

#second-paragraph{
	position: relative;
	top:-120px;
}

#nota{
	font-size: 20px;
	font-family: 'Lato-Regular';
}

#codice-promo{
	position: relative;
	top:135px;
}

button{
	position: relative;
	top:135px;
}

#link-equo{
	position: relative;
	top:150px;
}




@media screen and (min-width:768px) and (max-width: 1900px){
	.desk-block.desk-inline{
		display:inline;
	}
}
@media screen and (max-width:767px){
	
	div.col-sm-12.bg-grey, div.col-sm-12 .col-sm-7{
		padding-right:0;
	}
	.col-sm-5.col-sm-push-7{
		padding-top:4%;
	}
	.col-sm-5.text-center.p-top-5{
		padding-bottom:4%;
	}
	
	a.yellow{
		font-size:1.3rem;
	}
	.strong{
		font-size: 1.2rem;
   		line-height: 1.6rem;

	}
	.strong-big2{
		font-size: 2.0rem;
	}
	.strong-big{
		font-size: 1.6rem;
		line-height: 2.0rem;
	}
	.semistrong{
		font-size:1rem;
	}
	.smaller{
		font-size:0.9rem;
	}
	.p-top-5{
		padding-top:5%;
	}

	#second-paragraph {
	    position: relative;
	    top: -20px;
	}

	#intro {
	    font-size: 16px;
	    position: relative;
	    top: 20px;
	}

	#logo{
		top:13px;
	}

	.link-equo{
		font-size: 30px;
	}

	#nota{
	    font-size: 10px;
	}

	#paragraph1 {
	    position: relative;
	    top: -10px;
	}

	#link-equo {
	    position: relative;
	    top: 20px;
	}

	#codice-promo {
	    position: relative;
	    top: 10px;
	}

	button {
	    position: relative;
	    top: 10px;
	}

}


@media screen and (min-width: 768px){
	
	.col-sm-5.col-sm-push-7{
		padding-top:3%;
	}
	a.yellow{
		font-size:1.3rem;
	}
	.strong{
		font-size:1.2rem;
		line-height:1.6rem;
	}
	.strong-big2{
		font-size: 2.0rem;
	}
	.strong-big{
		font-size:1.4rem;
	}
	.smaller, .semistrong{
		font-size:0.85rem;
	}

	#intro {
	    font-size: 14px;
	    position: relative;
	    top:10px;
	}

	#logo{
		top:0px;
		width: 75px;
		height: 53px;
		background-image: url('../images/logo-elfo-small.png');
	}

	#paragraph1 {
	    position: relative;
	    top: -11px;
	}

	#second-paragraph {
	    position: relative;
	    top: -30px;
	}

	#nota{
	    font-size: 12px;
	}

	.link-equo{
		font-size: 30px;
	}
	
	#link-equo {
	    position: relative;
	    top: 0px;
	}

	#codice-promo {
	    position: relative;
	    top: -10px;
	}

	button {
	    position: relative;
	    top: -10px;
	}
}

@media screen and (min-width: 860px){
	#second-paragraph {
	    position: relative;
	    top: -110px;
	}
}

@media screen and (min-width: 960px){

	.strong {
	    font-size: 1.2rem;
	    line-height: 1.4rem;
	}

	#intro {
	    font-size: 14px;
	    position: relative;
	    top: -2px;
	}

	#paragraph1 {
	    position: relative;
	    top: 2px;
	}

	#second-paragraph {
	    position: relative;
	    top: -100px;
	}

	#logo{
		top:-13px;
		width: 150px;
		height: 105px;
		background-image: url('../images/logo_elfo.png');
	}

	#nota{
	    font-size: 12px;
	}

	.link-equo{
		font-size: 30px;
	}

}
@media screen and (min-width: 1024px){
	/*span{
		display:block;
	}*/
	a.yellow{
		font-size:1.7rem;
	}
	.strong{
	    font-size: 1.4rem;
   		line-height: 1.8rem;
	}

	.strong-big2{
		font-size: 2.6rem;
	}

	.strong-big{
		font-size:1.6rem;
	}
	.semistrong{
		font-size:1.3rem;
	}

	#intro {
	    color: #000;
	    font-size: 16px;
	    position: relative;
	    top: 3px;
	}

	#logo{
		top:0px;
	}

	#nota{
	    font-size: 14px;
	}

	.link-equo{
		font-size: 40px;
	}

	#second-paragraph {
	    position: relative;
	    top: -120px;
	}

	#link-equo {
	    position: relative;
	    top: 30px;
	}

	#codice-promo {
	    position: relative;
	    top: 20px;
	}

	button {
	    position: relative;
	    top: 20px;
	}
}

@media screen and (min-width: 768px){
	.img-mobile{
		display:none;
	}
}
@media screen and (max-width: 767px){
	.img-desk{
		display:none;
	}
}
@media screen and (min-width:1200px){
	a.yellow{
		font-size:1.9rem;
	}
	.strong{
		font-size: 1.7rem;
   		line-height: 1.9rem;
	}
	.strong-big2{
		font-size: 2.6rem;
	}
	.strong-big{
		font-size:2.1rem;
	}
	.semistrong{
		font-size:1.5rem;
		line-height: 1.9rem;
	}
	.smaller{
		font-size:1rem;
	}

	#intro {
	    color: #000;
	    font-size: 30px;
	    position: relative;
	    top: 4px;
	}

	#nota {
	    font-size: 16px;
	}

	#second-paragraph {
	    position: relative;
	    top: -145px;
	}

	#link-equo {
	    position: relative;
	    top: 70px;
	}

	#codice-promo {
	    position: relative;
	    top: 60px;
	}

	button {
	    position: relative;
	    top: 60px;
	}

	#link-equo {
	    position: relative;
	    top: 70px;
	}

	#codice-promo {
	    position: relative;
	    top: 70px;
	}

	button {
	    position: relative;
	    top: 70px;
	}
	
}

@media screen and (min-width:1400px){
	a.yellow{
		font-size:2.1rem;
	}
	.strong{
	    font-size: 1.8rem;
		line-height: 2.2rem;
	}
	.strong-big2{
		font-size: 3.0rem;
	}
	.strong-big{
		font-size: 2.8rem;
	}
	.semistrong{
		font-size:1.7rem;
		line-height: 2.1rem;
	}
	.smaller{
		font-size:1.2rem;
	}

	#paragraph1 {
	    position: relative;
	    top: 0px;
	}

	#logo {
	    top: -10px;
	}

	#nota {
	    font-size: 20px;
	}
	#intro {
	    color: #000;
	    font-size: 30px;
	    position: relative;
	    top: -10px;
	}
	#second-paragraph {
	    position: relative;
	    top: -190px;
	}
	#link-equo {
	    position: relative;
	    top: 70px;
	}

	#codice-promo {
	    position: relative;
	    top: 70px;
	}

	button {
	    position: relative;
	    top: 70px;
	}
}

@media screen and (min-width:1600px){
	a.yellow{
		font-size:2.4rem;
	}
	.strong{
		font-size:2.3rem;
		line-height:2.7rem;
	}
	.strong-big2{
		font-size: 3.6rem;
	}
	.strong-big{
		font-size: 3.0rem;
	}
	.semistrong{
		font-size:2rem;
		line-height: 2.4rem;
	}
	.smaller{
		font-size:1.5rem;
	}

	#second-paragraph {
	    position: relative;
	    top: -200px;
	}

	#link-equo {
	    position: relative;
	    top: 70px;
	}

	#codice-promo {
	    position: relative;
	    top: 70px;
	}

	button {
	    position: relative;
	    top: 70px;
	}


	
}

@media screen and (min-width:1800px){
	a.yellow{
		font-size:3rem;
	}
	.strong{
		font-size:2.7rem;
		line-height:3.1rem;
	}
	.semistrong{
		font-size:2.3rem;
		line-height: 2.7rem;
	}
	.smaller{
		font-size:2.1rem;
	}

	#paragraph1{
		position: relative;
		top:0px;
	}

	#second-paragraph {
	    position: relative;
	    top: -200px;
	}

	#link-equo {
	    position: relative;
	    top: 70px;
	}

	#codice-promo {
	    position: relative;
	    top: 70px;
	}

	button {
	    position: relative;
	    top: 70px;
	}
}

@media screen and (min-width:1920px){
	#second-paragraph {
	    position: relative;
	    top: -260px;
	}

	#logo{
		top:20px;
	}

	#paragraph1{
		position: relative;
		top:0px;
	}

	#link-equo {
	    position: relative;
	    top: 70px;
	}

	#codice-promo {
	    position: relative;
	    top: 70px;
	}

	button {
	    position: relative;
	    top: 70px;
	}
}